:root {
  --body_background: #191919;
  --body_color: white;
  --link_color: white;
  --resume-border: 3px solid white;
  --resume-upper-cards: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  --resume-upper-cards-text: black;
  --nav-toggle-btn-bg: white;
  --nav-toggle-btn-icon-bg: black;
  --dropDown-border: 3px solid white;
}

/* [data-theme="dark"] {
  --body_background: #191919;
  --body_color: white;
  --link_color: white;
} */

[data-theme="light"] {
  --body_background: white;
  --body_color: #282828;
  --link_color: #474747;
  --resume-border: 2px solid navy;
  --resume-upper-cards: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
  --resume-upper-cards-text: white;
  --nav-toggle-btn-bg: black;
  --nav-toggle-btn-icon-bg: white;
  --dropDown-border: 3px solid black;
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;

  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}